* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../images/fondo.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
}

.container-form {
    width: 90%;
    height: 90vh;
    display: flex;
    justify-content: space-around;
    transition: all .5s ease-out;
}

.welcome-back {
    display: flex;
    align-items: center;
    text-align: center;
}

.message {
    padding: 1rem;
}

.message h2 {
    font-size: 1.7rem;
    padding: 1rem 0;
}

.message button {
    padding: 1rem;
    font-weight: 400;
    background-color: #4a4aee;
    border-radius: 2rem;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: .9rem;
    margin-top: 2rem;
    transition: all .3s ease-in;
    color: #fff;
}

.message button:hover {
    background-color: #6464f8;
}

.formulario {
    width: 400px;
    padding: 1rem;
    margin: 2rem;
    background-color: rgba(51, 51, 51, 0.602);
    text-align: center;
}

.create-account {
    padding: 2.7rem 0;
    font-size: 1.7rem;
}

.iconos {
    width: 200px;
    display: flex;
    justify-content: space-around;
    margin: auto;
}

.border-icon {
    height: 20px;
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5rem;
    border: solid thin white;
    border-radius: 50%;
    font-size: 1.5rem;
    transition: all .2s ease-in;
}

.border-icon:hover {
    background-color: #4a4aee;
    cursor: pointer;
}

.cuenta-gratis {
    padding: 2rem 0;
}

.formulario input {
    width: 70%;
    display: block;
    margin: auto;
    margin-bottom: 2rem;
    background-color: transparent;
    border: none;
    border-bottom: white thin solid;
    text-align: center;
    outline: none;
    padding: .2rem 0;
    font-size: .9rem;
    color: white;
}

.formulario input[type="button"] {
    width: 60%;
    margin: auto;
    border: solid thin white;
    padding: .7rem;
    border-radius: 2rem;
    background-color: white;
    font-weight: 600;
    margin-top: 3rem;
    font-size: .8rem;
    cursor: pointer;
    color: #222;
}

.sign-in {
    position: absolute;
    opacity: 0;
    visibility: hidden;
}

.sign-in.active {
    opacity: 1;
    visibility: visible;
}

.sign-up.active {
    opacity: 0;
    visibility: hidden;
}

.options {
    margin-top: 10px; /* Ajusta el margen superior según sea necesario */
    text-align: center; /* Centra el contenido horizontalmente */
}

.options a {
    display: block; /* Convierte los enlaces en bloques para que ocupen todo el ancho disponible */
    margin-bottom: 5px; /* Añade un pequeño margen inferior entre los enlaces */
    color: #fff; /* Color del texto */
    text-decoration: none; /* Elimina la subrayado predeterminado de los enlaces */
}

.options a:hover {
    text-decoration: underline; /* Subrayado al pasar el cursor sobre los enlaces */
}

.footer {
    position: fixed;
    bottom: 0;
    width: 50%;
    background-color: transparent; /* Color de fondo del footer */
    color: white; /* Color del texto */
    padding: 5px; /* Espacio interno */
    text-align: center; /* Alineación del texto */
}

/* Estilos para el menú bar */
nav {
    background-color: #333;
    padding: 10px;
    position: fixed; /* Fija el menú en una posición específica */
    width: 200px; /* Ancho del menú */
    top: 0; /* Lo coloca en la parte superior */
    left: 0; /* Lo coloca en el lado izquierdo */
    z-index: 9999; /* Asegura que esté por encima de todo el contenido */
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    margin-bottom: 10px; /* Espacio entre los elementos del menú */
}

li a {
    display: block; /* Convierte los enlaces en bloques para que ocupen todo el ancho disponible */
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 10px; /* Añade espacio entre los enlaces */
}

li a:hover {
    background-color: #555; /* Cambia el color de fondo al pasar el ratón */
}

/* Estilos para dispositivos con un ancho máximo de 768px (tabletas y móviles) */
@media only screen and (max-width: 768px) {
    nav {
        width: 100%; /* Ancho completo del menú */
        padding: 10px 0; /* Reducción del espacio de relleno en dispositivos pequeños */
        text-align: center; /* Centra los elementos del menú */
    }

    ul {
        display: block; /* Cambia la visualización de la lista a bloque para centrar los elementos */
        margin: auto; /* Centra la lista horizontalmente */
    }

    li {
        margin-bottom: 10px; /* Espacio entre los elementos del menú */
    }

    li a {
        display: inline-block; /* Vuelve a mostrar los enlaces como bloques */
        padding: 5px 10px; /* Ajusta el espacio alrededor de los enlaces */
    }
}

/* Estilos para dispositivos con un ancho mínimo de 769px (escritorios) */
@media only screen and (min-width: 769px) {
    nav {
        width: 200px; /* Ancho original del menú */
        padding: 10px; /* Espacio de relleno normal */
        text-align: left; /* Alinea los elementos del menú a la izquierda */
    }

    ul {
        display: block; /* Mantiene la visualización de la lista como bloque */
    }

    li {
        margin-bottom: 10px; /* Espacio entre los elementos del menú */
    }

    li a {
        display: block; /* Vuelve a mostrar los enlaces como bloques */
        padding: 10px; /* Ajusta el espacio alrededor de los enlaces */
    }
}

/* Estilos para el formulario */
.container-form {
    width: 90%;
    height: 90vh;
    display: flex;
    justify-content: space-around;
    transition: all .5s ease-out;
}

.formulario {
    width: 400px;
    padding: 1rem;
    margin: 2rem;
    background-color: rgba(51, 51, 51, 0.602);
    text-align: center;
}

.create-account {
    padding: 2.7rem 0;
    font-size: 1.7rem;
}

.iconos {
    width: 200px;
    display: flex;
    justify-content: space-around;
    margin: auto;
}

.border-icon {
    height: 20px;
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5rem;
    border: solid thin white;
    border-radius: 50%;
    font-size: 1.5rem;
    transition: all .2s ease-in;
}

.border-icon:hover {
    background-color: #4a4aee;
    cursor: pointer;
}

.cuenta-gratis {
    padding: 2rem 0;
}

.formulario input {
    width: 70%;
    display: block;
    margin: auto;
    margin-bottom: 2rem;
    background-color: transparent;
    border: none;
    border-bottom: white thin solid;
    text-align: center;
    outline: none;
    padding: .2rem 0;
    font-size: .9rem;
    color: white;
}

.formulario input[type="button"] {
    width: 60%;
    margin: auto;
    border: solid thin white;
    padding: .7rem;
    border-radius: 2rem;
    background-color: white;
    font-weight: 600;
    margin-top: 3rem;
    font-size: .8rem;
    cursor: pointer;
    color: #222;
}

.sign-in {
    position: absolute;
    opacity: 0;
    visibility: hidden;
}

.sign-in.active {
    opacity: 1;
    visibility: visible;
}

.sign-up.active {
    opacity: 0;
    visibility: hidden;
}

.options {
    margin-top: 10px; /* Ajusta el margen superior según sea necesario */
    text-align: center; /* Centra el contenido horizontalmente */
}

.options a {
    display: block; /* Convierte los enlaces en bloques para que ocupen todo el ancho disponible */
    margin-bottom: 5px; /* Añade un pequeño margen inferior entre los enlaces */
    color: #fff; /* Color del texto */
    text-decoration: none; /* Elimina la subrayado predeterminado de los enlaces */
}

.options a:hover {
    text-decoration: underline; /* Subrayado al pasar el cursor sobre los enlaces */
}

.footer {
    position: fixed;
    bottom: 0;
    width: 50%;
    background-color: transparent; /* Color de fondo del footer */
    color: white; /* Color del texto */
    padding: 2px; /* Espacio interno */
    text-align: center; /* Alineación del texto */
}

/* Estilos para el menú bar */
nav {
    background-color: #333;
    padding: 10px;
    position: fixed; /* Fija el menú en una posición específica */
    width: 200px; /* Ancho del menú */
    top: 0; /* Lo coloca en la parte superior */
    left: 0; /* Lo coloca en el lado izquierdo */
    z-index: 9999; /* Asegura que esté por encima de todo el contenido */
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    margin-bottom: 10px; /* Espacio entre los elementos del menú */
}

li a {
    display: block; /* Convierte los enlaces en bloques para que ocupen todo el ancho disponible */
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 10px; /* Añade espacio entre los enlaces */
}

li a:hover {
    background-color: #555; /* Cambia el color de fondo al pasar el ratón */
}

/* Estilos para dispositivos con un ancho máximo de 768px (tabletas y móviles) */
@media only screen and (max-width: 768px) {
    nav {
        width: 100%; /* Ancho completo del menú */
        padding: 10px 0; /* Reducción del espacio de relleno en dispositivos pequeños */
        text-align: center; /* Centra los elementos del menú */
    }

    ul {
        display: block; /* Cambia la visualización de la lista a bloque para centrar los elementos */
        margin: auto; /* Centra la lista horizontalmente */
    }

    li {
        margin-bottom: 10px; /* Espacio entre los elementos del menú */
    }

    li a {
        display: inline-block; /* Vuelve a mostrar los enlaces como bloques */
        padding: 5px 10px; /* Ajusta el espacio alrededor de los enlaces */
    }
}

/* Estilos para dispositivos con un ancho mínimo de 769px (escritorios) */
@media only screen and (min-width: 769px) {
    nav {
        width: 200px; /* Ancho original del menú */
        padding: 10px; /* Espacio de relleno normal */
        text-align: left; /* Alinea los elementos del menú a la izquierda */
    }

    ul {
        display: block; /* Mantiene la visualización de la lista como bloque */
    }

    li {
        margin-bottom: 10px; /* Espacio entre los elementos del menú */
    }

    li a {
        display: block; /* Vuelve a mostrar los enlaces como bloques */
        padding: 10px; /* Ajusta el espacio alrededor de los enlaces */
    }
}

/* Estilos para el formulario */
.container-form {
    width: 90%;
    height: 90vh;
    display: flex;
    justify-content: space-around;
    transition: all .5s ease-out;
}

.formulario {
    width: 400px;
    padding: 1rem;
    margin: 2rem;
    background-color: rgba(51, 51, 51, 0.602);
    text-align: center;
}

.create-account {
    padding: 2.7rem 0;
    font-size: 1.7rem;
}

.iconos {
    width: 200px;
    display: flex;
    justify-content: space-around;
    margin: auto;
}

.border-icon {
    height: 20px;
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5rem;
    border: solid thin white;
    border-radius: 50%;
    font-size: 1.5rem;
    transition: all .2s ease-in;
}

.border-icon:hover {
    background-color: #4a4aee;
    cursor: pointer;
}

.cuenta-gratis {
    padding: 2rem 0;
}

.formulario input {
    width: 70%;
    display: block;
    margin: auto;
    margin-bottom: 2rem;
    background-color: transparent;
    border: none;
    border-bottom: white thin solid;
    text-align: center;
    outline: none;
    padding: .2rem 0;
    font-size: .9rem;
    color: white;
}

.formulario input[type="button"] {
    width: 60%;
    margin: auto;
    border: solid thin white;
    padding: .7rem;
    border-radius: 2rem;
    background-color: white;
    font-weight: 600;
    margin-top: 3rem;
    font-size: .8rem;
    cursor: pointer;
    color: #222;
}

.sign-in {
    position: absolute;
    opacity: 0;
    visibility: hidden;
}

.sign-in.active {
    opacity: 1;
    visibility: visible;
}

.sign-up.active {
    opacity: 0;
    visibility: hidden;
}

.options {
    margin-top: 10px; /* Ajusta el margen superior según sea necesario */
    text-align: center; /* Centra el contenido horizontalmente */
}

.options a {
    display: block; /* Convierte los enlaces en bloques para que ocupen todo el ancho disponible */
    margin-bottom: 5px; /* Añade un pequeño margen inferior entre los enlaces */
    color: #fff; /* Color del texto */
    text-decoration: none; /* Elimina la subrayado predeterminado de los enlaces */
}

.options a:hover {
    text-decoration: underline; /* Subrayado al pasar el cursor sobre los enlaces */
}

.footer {
    position: fixed;
    bottom: 0;
    width: 50%;
    background-color: transparent; /* Color de fondo del footer */
    color: white; /* Color del texto */
    padding: 5px; /* Espacio interno */
    text-align: center; /* Alineación del texto */
}

/* Estilos para el menú bar */
nav {
    background-color: transparent;
    padding: 10px;
    position: fixed; /* Fija el menú en una posición específica */
    width: 200px; /* Ancho del menú */
    top: 0; /* Lo coloca en la parte superior */
    left: 0; /* Lo coloca en el lado izquierdo */
    z-index: 9999; /* Asegura que esté por encima de todo el contenido */
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    margin-bottom: 10px; /* Espacio entre los elementos del menú */
}

li a {
    display: block; /* Convierte los enlaces en bloques para que ocupen todo el ancho disponible */
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 10px; /* Añade espacio entre los enlaces */
    transition: all 0.3s ease; /* Agregamos transición */
}

li a:hover {
    background-color: #4CAF50; /* Cambia el color de fondo al pasar el ratón */
    color: #333; /* Cambia el color del texto */
}


/* Estilos para dispositivos con un ancho máximo de 768px (tabletas y móviles) */
@media only screen and (max-width: 768px) {
    nav {
        width: 100%; /* Ancho completo del menú */
        padding: 10px 0; /* Reducción del espacio de relleno en dispositivos pequeños */
        text-align: center; /* Centra los elementos del menú */
    }

    ul {
        display: block; /* Cambia la visualización de la lista a bloque para centrar los elementos */
        margin: auto; /* Centra la lista horizontalmente */
    }

    li {
        margin-bottom: 10px; /* Espacio entre los elementos del menú */
    }

    li a {
        display: inline-block; /* Vuelve a mostrar los enlaces como bloques */
        padding: 5px 10px; /* Ajusta el espacio alrededor de los enlaces */
    }
}

/* Estilos para dispositivos con un ancho mínimo de 769px (escritorios) */
@media only screen and (min-width: 769px) {
    nav {
        width: 200px; /* Ancho original del menú */
        padding: 10px; /* Espacio de relleno normal */
        text-align: left; /* Alinea los elementos del menú a la izquierda */
    }

    ul {
        display: block; /* Mantiene la visualización de la lista como bloque */
    }

    li {
        margin-bottom: 10px; /* Espacio entre los elementos del menú */
    }

    li a {
        display: block; /* Vuelve a mostrar los enlaces como bloques */
        padding: 10px; /* Ajusta el espacio alrededor de los enlaces */
    }
}

.terms {
    display: flex; 
    justify-content: center;/* Utilizamos flexbox para alinear elementos horizontalmente */
    align-items: center; /* Alinea los elementos verticalmente al centro */
    margin-top: 20px;
}

.terms input[type="checkbox"] {
    margin: 0; /* Eliminamos el margen del checkbox */
    margin-right: 10px;
    flex-shrink: 0; /* Evita que el checkbox se contraiga */
}

.Terminos {
    color: #fff;
    text-decoration: none;
    display: flex; /* Cambiamos el display para que se comporte como un bloque en línea */
    flex-shrink: 0; /* Evita que el enlace se contraiga */
}

.Terminos:hover {
    text-decoration: underline;
}

  