<?php

define('dbuser', '');
define('dbpassword', '');
define('dbname', '');
define('dbhost', '');

define('hostSMTP','');
define('portSMTP','');
define('userSMTP','');
define('passwordSMTP','');
define('fromUser','');
define('mailName','');